.el-menu {
    --el-menu-bg-color: #304156;
    --el-menu-text-color: #bfcbd9;
    --menu-active-text: var(--el-menu-active-color);
    --el-menu-hover-bg-color: #263445;
    --sidebar-logo-background: #2d3748;
    --sidebar-logo-text-color: #fff
}
.el-menu-item {
    --el-menu-base-level-padding:40px;
}